{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block content %}
    <h1>{% trans "Sign In" %}</h1>

    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
        <p>{% blocktrans with site.name as site_name %}Please sign in with your existing VK accounts.{% endblocktrans %}</p>

        <div class="row col-md-4 col-sm-8 col-sm-offset-4 spacet-10">
            <a class="btn btn-block btn-social btn-vk" href="{% url 'vk_login' %}">
                <span class="fa fa-vk"></span> Sign in with VK
            </a>
        </div>
    {% endif %}
{% endblock %}
