{% for friend in friends %}
    <frined class="media content-section">
        <img class="rounded-circle friend-img" src="{{ friend.photo_100 }}">
        <div class="media-body">
            <div class="friend-metadata">
                <a class="mr-2" href="https://vk.com/{{ friend.domain }}">{{ friend.first_name }} {{ friend.last_name }}</a>
            </div>
             <small class="text-muted">{%  if friend.online == 1 %}Online{% else %}Offline{% endif %}</small>
        </div>
    </frined>
{% endfor %}