{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        {% if friends %}
            {% include 'users/includes/friends_list.html' %}
        {% else %}
            <h2>Friends not found.</h2>
        {% endif %}
    {% else %}
        <h2>This page will display 5 random friends from your VK account.</h2>
        <div class="border-top pt-3">
            <p>
                <a href="{% url 'account_login' %}" class="ml-2">Log In Now</a>
            </p>
        </div>
    {% endif %}
{% endblock content%}